In [1]:
import pandas as pd

In [2]:
superstore_df = pd.read_csv('~/JUPYTER/DATA/Superstore.csv')
superstore_df.head(1)

,OrderID,OrderDate,ShipDate,ShipMode,CustomerID,Name,Segment,Country,City,State,PostalCode,Region,ProductID,Category,SubCategory,ProductName,Sales,Quantity,Discount,Profit
0,CA-2020-152156,11/8/20,11/11/20,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2.0,0.0,41.9136

In [3]:
superstore_df.columns

Index(['OrderID', 'OrderDate', 'ShipDate', 'ShipMode', 'CustomerID', 'Name',
       'Segment', 'Country', 'City', 'State', 'PostalCode', 'Region',
       'ProductID', 'Category', 'SubCategory', 'ProductName', 'Sales',
       'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [4]:
superstore_df['CustomerID'] = superstore_df['CustomerID'].str.slice(start=3)
superstore_df.head(1)

,OrderID,OrderDate,ShipDate,ShipMode,CustomerID,Name,Segment,Country,City,State,PostalCode,Region,ProductID,Category,SubCategory,ProductName,Sales,Quantity,Discount,Profit
0,CA-2020-152156,11/8/20,11/11/20,Second Class,12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2.0,0.0,41.9136

In [5]:
superstore_df['Region'].value_counts()

Region
West       3203
East       2848
Central    2323
South      1620
Name: count, dtype: int64

In [6]:
superstore_df['RegionID'] = superstore_df['Region'].apply(lambda x: 1 if x == 'West' else 2 if x == 'East' else 3 if x == 'Central' else 4)
#superstore_df.head()

In [7]:
customers_df = superstore_df[['CustomerID','Name','Segment','Country','City','State','PostalCode','RegionID']].copy()
customers_df.drop_duplicates(subset='CustomerID', inplace=True)
print(len(customers_df))
customers_df.dropna(subset='CustomerID', inplace=True)
print(len(customers_df))
customers_df.head()

794
793

,CustomerID,Name,Segment,Country,City,State,PostalCode,RegionID
0,12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,4
2,13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,1
3,20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,4
5,11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032.0,1
12,10480,Andrew Allen,Consumer,United States,Concord,North Carolina,28027.0,4

In [8]:
from sqlalchemy import create_engine, text
import pymysql

In [9]:
engine = create_engine('mysql+pymysql://root:root@localhost:3306/GBC_Superstore1')
with engine.connect() as connection:
    connection.execute(text('SET foreign_key_checks = 0'))

In [10]:
table_name = '_Region'
region_dr = superstore_df[['RegionID','Region']].dropna().drop_duplicates()
#region_dr
region_dr.to_sql(table_name, con=engine, if_exists='append', index=False)

4

In [11]:
table_name = '_Customers'
customers_df.to_sql(table_name, con=engine, if_exists='append', index=False)

793

In [12]:
superstore_df['OrderID'] = superstore_df['OrderID'].str.slice(start=3)
superstore_df['OrderID'] = superstore_df['OrderID'].str.replace('-', '')

superstore_df['ProductID'] = superstore_df['ProductID'].str.slice(start=7)

superstore_df['OrderDate'] = pd.to_datetime(superstore_df['OrderDate'], format='%m/%d/%y', errors='coerce')
superstore_df['ShipDate'] = pd.to_datetime(superstore_df['ShipDate'], format='%m/%d/%y', errors='coerce')
superstore_df.head(1)

,OrderID,OrderDate,ShipDate,ShipMode,CustomerID,Name,Segment,Country,City,State,...,Region,ProductID,Category,SubCategory,ProductName,Sales,Quantity,Discount,Profit,RegionID
0,2020152156,2020-11-08,2020-11-11,Second Class,12520,Claire Gute,Consumer,United States,Henderson,Kentucky,...,South,10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2.0,0.0,41.9136,4

In [13]:
orders_df = superstore_df[['OrderID','CustomerID','ShipMode','ProductID','Quantity',
                           'Sales','Discount','Profit','OrderDate','ShipDate','RegionID']].copy()
orders_df.drop_duplicates(subset='OrderID', inplace=True)
orders_df.drop_duplicates(subset='ProductID', inplace=True)
orders_df.head()

,OrderID,CustomerID,ShipMode,ProductID,Quantity,Sales,Discount,Profit,OrderDate,ShipDate,RegionID
0,2020152156,12520,Second Class,10001798,2.0,261.9600,0.00,41.9136,2020-11-08,2020-11-11,4
2,2020138688,13045,Second Class,10000240,2.0,14.6200,0.00,6.8714,2020-06-12,2020-06-16,1
3,2019108966,20335,Standard Class,10000577,5.0,957.5775,0.45,-383.0310,2019-10-11,2019-10-18,4
5,2018115812,11710,Standard Class,10001487,7.0,48.8600,0.00,14.1694,2018-06-09,2018-06-14,1
12,2021114412,10480,Standard Class,10002365,3.0,15.5520,0.20,5.4432,2021-04-15,2021-04-20,4

In [14]:
table_name = '_Orders'
orders_df.to_sql(table_name, con=engine, if_exists='append', index=False)

1503

In [15]:
products_df = superstore_df[['ProductID','Category','SubCategory']].copy()
products_df['UnitPrice'] = (superstore_df['Sales'] / (superstore_df['Discount'] + 1)) / superstore_df['Quantity']
products_df.drop_duplicates(subset='ProductID', inplace=True)
products_df.head()

  ProductID         Category SubCategory   UnitPrice
0  10001798        Furniture   Bookcases  130.980000
1  10000454        Furniture      Chairs  243.980000
2  10000240  Office Supplies      Labels    7.310000
3  10000577        Furniture      Tables  132.079655
4  10000760  Office Supplies     Storage    9.320000

In [17]:
table_name = '_Product'
products_df.to_sql(table_name, con=engine, if_exists='append', index=False)

1596